html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,simsun;color:#333;outline:0;}
html, body {
  height: 100%;
  /*background-color: #f3f3f3;*/
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.content-wrap {
  height: 100%;
  background-color: #f3f3f3;
}
a {
  text-decoration: none;
  color: #000;
}
hr {
  margin: 20px 0;
}
p {
  line-height: 1.5;
  padding: 10px 0;
}
.hidden {
  visibility: hidden;
}
.pswp {
  position: fixed;
  top: 0;
  bottom: 0;
}
.vux-scroller-header-box img {
  height: 200px;
  width: 100%;
}
* {
   -webkit-tap-highlight-color:rgba(0,0,0,0);  -webkit-appearance: none;
}
.logo {
  display: inline-block;
  padding: 0 40px;
  font-size: 20px;
  line-height: 36px;
  font-weight: lighter;
  font-family: cursive;
  color: #fff;
  background-color: #000;
}
/***常用css***/
.text-center {
  text-align: center;
}
.cur-default {
  cursor: default;
}
/***动画***/
.fade-transition {
  transition: all .5s ease-out;
  opacity: 1;
}
.fade-enter, .fade-leave {
  opacity: 0;
}
